@import "_config.scss";
// @import "Reset.scss";
// @import "Typography.scss";

#root {
  max-width: $maxWebWidth;
  margin: auto;
  min-height: 100vh;
}

.mainHeader {
  z-index: 2;
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  height: $headerHeightWeb;
  width: 100%;
  max-width: $maxWebWidth;
  color: white;

  @media (hover: none) {
    height: $headerHeightSmart;
    header {
      height: $headerHeightSmart;
    }
  }
}

.mainContent {
  z-index: 1;
  position: relative;
  padding-top: $headerHeightWeb;
  width: 100%;
  background: #a76b6b;
  @media (hover: none) {
    padding-top: $headerHeightSmart;
  }
}

.mainContent:after {
  clear: both;
  content: "";
  display: block;
  min-height: calc(100vh - #{$headerHeightWeb});
  @media (hover: none) {
    min-height: calc(100vh - #{$headerHeightSmart});
  }
}

.topLevelPage {
  position: absolute;
  background: #a76b6b;
  top: $headerHeightWeb;
  width: 100%;
  @media (hover: none) {
    padding-bottom: $bottomNavHeight;
    top: $headerHeightSmart;
  }
}

.bottomNav {
  z-index: 3;
  position: fixed;
  width: 100%;
  bottom: 0;
}

// Animations

.pages-enter {
  opacity: 0;
  z-index: 1;
}

.pages-enter.pages-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.pages-exit.pages-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
