#root {
  background: #cfe8fc;
  overflow: hidden;
  max-width: 960px;
  margin: auto;
  min-height: 100vh;
}

.mainHeader {
  position: fixed;
  z-index: 1;
  height: 5vh;
  top: 0;
  width: 100%;
  max-width: 960px;
  background: #d1c4e9;
}

.topLevelPage {
  position: relative;
  padding-top: 5vh;
  padding-bottom: 8vh;
  width: 100%;
  min-height: 95vh;
}
